<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/login-register.css">
    <title>Register</title>
</head>
<body>
<div class="form-container">
    <h1>Register</h1>
    <form action="/register" method="POST">
        <input type="text" name="firstName" placeholder="First Name" value="{{ old.firstName }}" required>
        <div class="invalid-feedback">{{ errors.firstName | first }}</div>

        <input type="text" name="middleName" placeholder="Middle Name" value="{{ old.middleName }}">
        <div class="invalid-feedback">{{ errors.middleName | first }}</div>

        <input type="text" name="lastName" placeholder="Last Name" value="{{ old.lastName }}" required>
        <div class="invalid-feedback">{{ errors.lastName | first }}</div>

        <input type="email" name="email" placeholder="Email" value="{{ old.email }}" required>
        <div class="invalid-feedback">{{ errors.email | first }}</div>

        <input type="password" name="password" placeholder="Password" required>
        <div class="invalid-feedback">{{ errors.password | first }}</div>

        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <div class="invalid-feedback">{{ errors.confirmPassword | first }}</div>

        <input type="submit" value="Submit">
    </form>
    <p>Already have an account? <a href="/login">Log in</a></p>
</div>
</body>
</html>
