<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/form.css">
    <title>Create Product</title>
</head>
<body>
<div class="form-container">
    <h1>Create Product</h1>
    <form action="/admin/product" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Product Name" value="{{ old.name }}" required>
        <div class="invalid-feedback">{{ errors.name | first }}</div>

        <select name="category" required>
            <option value="" selected disabled>-- select category --</option>

            {% for category in categories %}
                <option value="{{ category.id }}" {% if old.category == category.id %} selected {% endif %}>{{ category.name }}</option>
            {% endfor %}

        </select>
        <div class="invalid-feedback">{{ errors.category | first }}</div>

        <input name="price" type="number" placeholder="Product Price in US Dollars" value="{{ old.price }}">
        <div class="invalid-feedback">{{ errors.price | first }}</div>

        <input type="file" name="photo" required>
        <div class="invalid-feedback">{{ errors.photo | first }}</div>

        <textarea name="description" cols="30" rows="8" maxlength="1000">{{ old.description ? old.description : "Product Description....." }}</textarea>
        <div class="invalid-feedback">{{ errors.description | first }}</div>

        <br><input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
