<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0,-50..200"/>

    {% if stylesheets %}
    {% for sheet in stylesheets %}
    <link rel="stylesheet" href="{{ sheet.url }}">
    {% endfor %}
    {% endif %}

</head>
<body>
{% if navbar %}
{{ include(navbar) }}
{% endif %}
<div class="container" id="container">
    <div class="sidebar">
        <div class="filter-card">
            <h4 class="bread-crumbs">Home > Products</h4>
            <p class="small-text light-gray">
                <span id="meta-count">100</span> items
            </p>
        </div>

        {% if filters %}
            {% for f in filters %}
                {{ include('/components/filterCard.twig', {'text': f.name, 'component': f.component}) }}
            {% endfor %}
        {% endif %}
    </div>

    <div class="main">
        <div class="window">
            <div class="content" id="content">
                <!-- new content here -->
                <div id="products-container"></div>
            </div>
        </div>
        <button type="button" id="show-more-button" class="show-more-button hidden">load more</button>
    </div>
</div>
<div id="popup-window" class="hidden">
    <div id="popup-content" class="popup-content">
        {% if popupForm %}
            {{ include(popupForm) }}
        {% else %}
            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aut blanditiis consequatur dicta
                ducimus</p>
            <p>eligendi exercitationem explicabo facere fugit id illo, ipsa ipsum magni nulla odio optio possimus
                quaerat quod </p>
            <p>quos recusandae reprehenderit repudiandae rerum soluta veritatis voluptas voluptatem voluptates. At
                blanditiis consequatur. </p>
            <p>cupiditate doloremque eligendi esse eum expedita ipsa libero maiores nulla pariatur porro recusandae
                sapiente tempore vero voluptatibus.</p>
            <p>Autem blanditiis consequuntur cum dicta eos fugiat laboriosam pariatur.</p>
        {% endif %}

    </div>
    <button type="button" id="close-button" class="close-button">Close</button>
</div>

<!-- <button type="button" class="another-button">X</button> -->

{% if scripts %}
{% for script in scripts %}
<script type="module" src={{ script.src }}></script>
{% endfor %}
{% endif %}

</body>
</html>