<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0,-50..200"/>

    {% if stylesheets %}
    {% for sheet in stylesheets %}
    <link rel="stylesheet" href="{{ sheet.url }}">
    {% endfor %}
    {% endif %}

</head>
<body>
<div class="container" id="container">
    <div class="sidebar">
        <div class="header-box">
            <img src="/resources/images/logo.png" alt="company's logo">
            <div>
                <p>{{ username }}</p>
                <p>{{ email }}</p>
            </div>
        </div>

        <input type="text" placeholder="Search">

        <button class="sidebar-button" id="dashboard-button" type="button">
            <span class="material-symbols-outlined">dashboard</span>
            <a href="/admin/dashboard">Dashboard</a>
        </button>

        <button class="sidebar-button" id="home-button" type="button">
            <span class="material-symbols-outlined">home</span>
            <a href="#">Home</a>
        </button>

        <button class="sidebar-button" id="products-button" type="button">
            <span class="material-symbols-outlined">inventory</span>
            <a href="/admin/products">Products</a>
        </button>

        <button class="sidebar-button" id="categories-button" type="button">
            <span class="material-symbols-outlined">category</span>
            <a href="/admin/categories">Categories</a>
        </button>

        <button class="sidebar-button" id="manufacturers-button" type="button">
            <span class="material-symbols-outlined">manufacturing</span>
            <a href="#">Manufacturers</a>
        </button>

        <button class="sidebar-button" id="inventory-button" type="button">
            <span class="material-symbols-outlined">inventory_2</span>
            <a href="/admin/inventory">inventory</a>
        </button>

        <button class="sidebar-button" id="orders-button" type="button">
            <span class="material-symbols-outlined">conveyor_belt</span>
            <a href="/admin/orders">orders</a>
        </button>
    </div>

    <div class="main">
        <div class="window">
            {% if window %}
            {{ include(window) }}
            {% endif %}
        </div>
        <button type="button" id="show-more-button" class="show-more-button hidden">load more</button>
    </div>
</div>
<div id="popup-window" class="hidden">
    <div id="popup-content" class="popup-content">
    {% if popupForm %}
        {{ include(popupForm) }}
    {% else %}
        <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aut blanditiis consequatur dicta ducimus</p>
        <p>eligendi exercitationem explicabo facere fugit id illo, ipsa ipsum magni nulla odio optio possimus quaerat quod </p>
        <p>quos recusandae reprehenderit repudiandae rerum soluta veritatis voluptas voluptatem voluptates. At blanditiis consequatur. </p>
        <p>cupiditate doloremque eligendi esse eum expedita ipsa libero maiores nulla pariatur porro recusandae sapiente tempore vero voluptatibus.</p>
        <p>Autem blanditiis consequuntur cum dicta eos fugiat laboriosam pariatur.</p>
    {% endif %}

    </div>
    <button type="button" id="close-button" class="close-button">Close</button>
</div>

<!-- <button type="button" class="another-button">X</button> -->
<script type="module" src="/resources/js/helperFunctions.js"></script>

{% if scripts %}
{% for script in scripts %}
<script type="module" src={{ script.src }}></script>
{% endfor %}
{% endif %}

</body>
</html>